body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  align-self: center;
  max-width: 100%;
  padding: 1rem;
}

h2 {
  color: $c-primary;
}

p {
  color: $c-primary;
}
