// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

$c-primary: #3473b5;
$c-white: #fff;

$c-pink: #e577aa;
$c-green: #7abe93;
$c-blue: #72bbe9;
$c-yellow: #e5b178;

$s-border: $c-primary 0.2rem solid;

@import 'box-sizing';
@import 'reset';
@import 'shop-card';
@import 'button-bar';
@import 'media';

.section {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.container {
  // margin: 1rem;
  display: flex;
  justify-content: center;
  max-width: 60rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -1rem;
}

.grid__item {
  flex-basis: calc(100% / 3 - 2rem);
  flex-grow: 1;
  min-width: 13rem;
  margin: 1rem;
}
