.button-bar {
  display: flex;
  border-top: $s-border;

  > * + * {
    border-left: $s-border;
  }

  &__button {
    width: calc(100% / 5);
    background: #fefefe;
  }
  &__button:hover {
    background: $c-primary;
  }

  &__button:hover .dropdown__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin: 0;
    transform: translate(-50%,0%);
  }

}

.dropdown {
    position: relative;

  &__list {
    display: none;
  }

  &__button {
    border: $c-primary;

    &--pink {
      // background:
    }

    &--green {

    }

    &--blue {

    }

    &--yellow {

    }
  }
}
