@media (min-width: 460px) and (max-width: 760px) {
  .grid {
    display: flex;
    flex-direction: column;

    &__item {
      width: 100%;
    }
  }

  .shop-card {
    flex-direction: row;
  }

  .button-bar {
    flex-direction: column;
    border-left: $s-border;
    border-top: none;

    > * + * {
      border-top: $s-border;
      border-left: none;
    }
  }

  .dropdown {
    position: relative;
    &__button {
      // height: 2rem;
    }

    &__list {
    flex-direction: row;
    // position: absolute;
    // right: 100%;
    // top: 50%;
    bottom: 0;
    transform: translate(-0, -50%);
    border-top: $s-border;

      > * + * {
        border-left: $s-border;
        border-top: none;
      }
    }
  }
}
