.shop-card {
  display: flex;
  flex-direction: column;
  border: $s-border;
  text-align: center;

  &__info {
  }

  &__title {
    margin: 1rem;
  }

  &__description {
    margin: 1rem;
  }

  &__options {

  }
}
